.button {
  width: 100%;
  height: 60px;

  border: 2px solid blue;
  background-color: lightblue;

  font-size: larger;
  font-weight: 400;
}

.button:hover {
  background-color: rgb(129, 208, 235);
}

.equal {
  grid-column: 3 / 5;
}

.clear {
  grid-column: 1 / 3;
}